body {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  padding-top: 60px;
  color: white;
  background-color: rgb(4, 69, 69);
}
a {
  text-decoration: none;
  color: white;
}
