body{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    padding-top: 60px;
    color: white;
    background-color: #219ebc;
}
a{
    text-decoration: none;
    color: white;
}