.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #219ebc;
}
.my-pic{
    width: 500px;
    border-radius: 50%;
}
.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.info-text{
    font-size: 48px;
}
.hire-me{
    width: 200px;
    height: 50px;
    font-size: 32px;
    padding: 2px;
    white-space: nowrap;
    border-radius: 20px;
    border: none;
    background-color: rgb(248, 160, 44);
    color: white;
    cursor: pointer;
    transition: box-shadow 0.25s;
}
.hire-me:hover{
    box-shadow: 0px 5px rgba(0, 0, 0,0.4);
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
}
.special-main-text{
    color: rgb(248, 160, 44);
}
@media (max-width:785px){
    .my-pic{
        width:230px
    }
    .info-text{
        font-size: 38px;
        padding-left: 20px;
    }
    .hire-me{
        width: 150px;
        font-size: 24px;
    }
}
@media (max-width:575px){
    .my-pic{
        width:150px
    }
    .info-text{
        font-size: 32px;
        padding-left: 20px;
    }
    .hire-me{
        width: 100px;
        font-size: 16px;
    }
}