.videos-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 100px;
    column-gap: 100px;
    padding: 50px;
    color: black;
}
.box{
   cursor: pointer;
}
.thumbnail{
    border-radius: 10px;
}
.video-title,.views-count{
    padding-top: 15px;
}
.views-count{
    color: rgb(207, 206, 206);
}
@media (max-width:1279px){
    .videos-main{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:855px){
    .videos-main{
        grid-template-columns: 1fr;
    }
}
